/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
